@model CreateEditCommentViewModel
@{
    ViewBag.Title = "Edit Comment";
}

<h3>@ViewBag.Title:</h3>

<form method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Comment, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Comment" class="btn btn-dark" />
        </div>
    </div>
</form>

