@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bug Tracker</title>
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/vendor/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendor/base/vendor.bundle.base.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <div class="navbar-brand brand-logo mr-5" href="index.html">
                    <img src="~/images/logo.jpg" alt="logo" />
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="ti-view-list"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="ti-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="input-group-text" id="search">
                                <i class="ti-user"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <div class="card-body">
                                @User.Identity.GetUserName()

                                <a href="@Url.Action("Index", "Manage", new {title = "Manage", @class = "dropdown-item" })">
                                    <i class="ti-settings text-primary"></i> Settings

                                    @*@Html.ActionLink("Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })*@
                                </a>
                            </div>

                            <a class="dropdown-item">

                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {

                                    <a href="javascript:document.getElementById('logoutForm').submit()"> < i class="ti-power-off text-primary" /> Log off</a>

                                }
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="ti-view-list"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="ti-shield menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ManageUsers", "Home")" class="nav-link">
                            <i class="ti-lock menu-icon"></i>
                            <span class="menu-title">Users Manager</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Project")" class="nav-link">
                                <i class="ti-layers-alt menu-icon"></i>
                                <span class="menu-title">All Projects</span>
                            </a>
                        </li>
                    }
                        <li class="nav-item">
                            <a href="@Url.Action("UserProjects", "Project")" class="nav-link">
                                <i class="ti-layers-alt menu-icon"></i>
                                <span class="menu-title">My Projects</span>
                            </a>
                        </li>
                    </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin card">
                            <div class="d-flex justify-content-between align-items-center card-body">
                                <div class="card-body">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/base/vendor.bundle.base.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
