@model EditMembersViewModel
@{
    ViewBag.Title = "My Projects";
}

@if (Model != null)
{
<div class="d-flex justify-content-around">
    <div class="card" style="width:48%">
        <div class="card-body">
            <h3>Members</h3>
            <hr />
            <table id="table_id" class="table-striped table-bordered compact" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.ProjectMembers)
                    {
                        <tr>
                            <td>@user.UserDisplayName</td>
                            <td>@string.Join(", ", user.UserRoles)</td>
                            <td><a href="@Url.Action("RemoveMember", "Project", new { projectId = Model.ProjectId, userId = user.UserId })">Remove</a></td>
                        </tr>
                    }
            </table>
        </div>
    </div>
    <div class="card" style="width:48%">
        <div class=" = card-body">
            <h3>Users</h3>
            <hr />
            <table id="table_id" class="table-striped table-bordered compact" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.NotMembers)
                    {
                        <tr>
                            <td>@user.UserDisplayName</td>
                            <td>@user.UserRoles</td>
                            <td><a href="@Url.Action("AddUser", "Project", new { projectId = Model.ProjectId, userId = user.UserId })">Add</a></td>

                        </tr>
                    }
            </table>
        </div>
    </div>
</div>  
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('table.display').DataTable();
        });
    </script>
}