@using Microsoft.AspNet.Identity
@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="row" style="display:flex">
    <div class="col-md-4">
        <div class="card">
            <div class="grid-margin card-body">
                <a href="@Url.Action("UserProjects", "Project")" class="nav-link">
                    <div>
                        <i class="ti-folder" style="color:darkviolet; font-size:45px"></i>
                    </div>
                    <div>
                        <span class="menu-title" style="color:darkviolet; font-size: 20px">PROJECTS: @Model.NumberProjects</span>
                    </div>
                    
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="grid-margin card-body">
                <a href="@Url.Action("AllTickets", "Ticket")" class="nav-link">
                    <div>
                        <i class="ti-files" style="color:darkcyan; font-size:45px"></i>
                    </div>
                    <div>
                        <span class="menu-title" style="color:darkcyan; font-size: 20px">TICKETS: @Model.NumberTickets</span>
                    </div>
                    @if (Model.NumberOpenTickets != null)
                    {
                        <div>
                            <span class="menu-title" style="color:darkcyan; font-size: 20px">Opened: @Model.NumberOpenTickets</span>
                        </div>
                    }
                    @if (Model.NumberResolvedTickets != null)
                    {
                        <div>
                            <span class="menu-title" style="color:darkcyan; font-size: 20px">Resolved: @Model.NumberResolvedTickets</span>
                        </div>
                    }
                    @if (Model.NumberRejectedTickets != null)
                    {
                        <div>
                            <span class="menu-title" style="color:darkcyan; font-size: 20px">Rejected: @Model.NumberRejectedTickets</span>
                        </div>
                    }
                    @if (Model.NumberTicketsAssigned != null)
                    {
                        <div>
                            <span class="menu-title" style="color:darkcyan; font-size: 20px">Assigned: @Model.NumberTicketsAssigned</span>
                        </div>
                    }
                    @if (Model.NumberTicketsOwned != null)
                    {
                        <div>
                            <span class="menu-title" style="color:darkcyan; font-size: 20px">Created: @Model.NumberTicketsOwned</span>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>

