@model List<AllTicketsViewModel>
@{
    ViewBag.Title = "SubmittersTickets";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <table id="table_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Creator</th>
                <th>Assigned Developer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.Id</td>
                    <td>@ticket.ProjectName</td>
                    <td>@ticket.Title</td>
                    <td>@ticket.DateCreated.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>
                        @if (ticket.DateUpdated != null)
                        {
                            @ticket.DateUpdated
                        }
                    </td>
                    <td>@ticket.Type</td>
                    <td>@ticket.Status</td>
                    <td>@ticket.Priority</td>
                    <td>@ticket.Author</td>
                    <td>@ticket.Assignee</td>
                </tr>
            }
    </table>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
