@model TicketDetailsViewModel
@{
    ViewBag.Title = "Ticket Details";
}

<h3>@ViewBag.Title</h3>
<table id="table_id" class="table-striped table-bordered compact" style="width:100%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Type</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Creator</th>
            <th>Assigned Developer</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Project.Name</td>
            <td>
                @Model.Title
            </td>
            <td>@Model.DateCreated.ToString("dd-MM-yyyy HH:mm")</td>
            <td>
                @if (Model.DateUpdated != null)
                {
                    @Model.DateUpdated.Value.ToString("dd-MM-yyyy HH:mm")
                }
            </td>
            <td>@Model.TicketType.Name</td>
            <td>@Model.TicketStatus.Name</td>
            <td>@Model.TicketPriority.Name</td>
            <td>@Model.OwnerUser.DisplayName</td>
            <td>
                @if (Model.AssignedToUser != null)
                {
                    @Model.AssignedToUser.DisplayName
                }
            </td>
        </tr>
</table>
<br />
<h4>Description:</h4>
<div class="row">
    <div class="card col-md-12">
        <div class="grid-margin card-body">
            @Model.Description
        </div>
    </div>
</div>
<br />
<div style="display:flex; width: 65%">
    <div style="width:100%">
        @if (Model.CanCreate)
        {
            <a title="Post Comment" href="@Url.Action("CreateComment", "Comment", new { id = Model.Id })">
                <i class="ti-comment text-primary"></i>
                Add Comment
            </a>
        }
    </div>
    <div style="width:100%">
        @if (Model.CanCreate)
        {
            <a title="Add Attachment" href="@Url.Action("CreateAttachment", "Attachment", new { id = Model.Id })">
                <i class="ti-file text-primary"></i>
                Add Attachment
            </a>
        }
    </div>
</div>
<br />
<div class="row" style="display:flex;">
    <div class="col-md-4" style="width:100%">
        <h4>Comments:</h4>

        @foreach (var comment in Model.TicketComments)
        {
            <div class="grid-margin stretch-card">
                <div class=" card">
                    <div class="card-body">
                        @comment.TicketComment.User.DisplayName
                        <i class="ti-alarm-clock menu-icon"></i> @comment.TicketComment.DateCreated.ToString("dd-MM-yyyy HH:mm")
                        <hr />
                        <div style="color:dimgray">
                            @comment.TicketComment.Comment
                        </div>
                        @if (comment.CanEdit)
                        {
                            <div style="display: flex; justify-content:space-between;">
                                <div>
                                    <a title="Edit Comment" style="color:black" href="@Url.Action("EditComment", "Comment", new {id = Model.Id, commentId = comment.TicketComment.Id })">
                                        <i class="ti-pencil-alt"></i> Edit
                                    </a>
                                </div>
                                <div>
                                    <form method="post" action="@Url.Action("Delete", "Comment", new { id = Model.Id, commentId = comment.TicketComment.Id })">
                                        <a href="#" title="Delete Comment" style="color:black" class="actionDelete"> <i class="ti-trash"></i> Delete</a>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4" style="width:100%">
        <h4>Attachments:</h4>

        @foreach (var attachment in Model.TicketAttachments)
        {
            <div class="grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @attachment.TicketAttachment.User.DisplayName
                        <i class="ti-alarm-clock menu-icon"></i> @attachment.TicketAttachment.DateCreated.ToString("dd-MM-yyyy HH:mm")
                        <hr />
                        <div style="color:dimgray">
                            @attachment.TicketAttachment.Description
                        </div>
                        <div style="color:dimgray">
                            <a href="@attachment.TicketAttachment.FileUrl" target="_blank">@attachment.TicketAttachment.FileName</a>
                        </div>
                        @if (attachment.CanEdit)
                        {
                            <div style="display: flex; justify-content:space-between;">
                                <div>
                                    <a title="Edit Attachment" style="color:black" href="@Url.Action("EditAttachment", "Attachment", new {id = Model.Id, attachmentId = attachment.TicketAttachment.Id })">
                                        <i class="ti-pencil-alt"></i> Edit
                                    </a>
                                </div>
                                <div>
                                    <form method="post" action="@Url.Action("Delete", "Attachment", new { id = Model.Id, attachmentId = attachment.TicketAttachment.Id })">
                                        <a href="#" title="Delete Attachment" style="color:black" class="actionDelete"> <i class="ti-trash"></i> Delete</a>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-md-4" style="width:100%">
        <h4>History:</h4>

        @foreach (var history in Model.TicketHistories)
        {
            <div class="grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @history.User.DisplayName
                        @if (@history.Changed != null)
                        {
                            <i class="ti-alarm-clock menu-icon"></i> @history.Changed.Value.ToString("dd-MM-yyyy HH:mm")
                        }
                        changed
                        <hr />
                        <div style="color:black">
                            Ticket's @history.Property
                        </div>
                        <div style="color:dimgray">
                            from: "@history.OldValue"
                        </div>
                        <div style="color:dimgray">
                            to: "@history.NewValue"
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    <script src="~/Scripts/scriptAction.js" type="text/javascript"></script>
}
